In [17]:
import pandas as pd
import random
from faker import Faker

In [13]:
meter_col_names =  ['sync_bit', 'preamble', 'ert_id_ms_bits','reserved','physical_tamper','ert_type'
              ,'encoder_tamper','consumption_data','ert_id_ls_bits','checksum']

meter_data_received_1=[
    [1,'0xF2A60','47','','','electric','',149,'023948576274839201938475','47498238489494848']
]

for x in range(1000):
    meter_data_received_1.append(
        [1,'0xF2A60',str(random.randint(10,100)),'',''
         ,'electric','',str(random.randint(50,4000))
         ,str(random.randint(100000000000000000000000,100000000000000000000100))
         ,'47498238489494848']
    )

meter_data_df_1 = pd.DataFrame(columns = meter_col_names,data=meter_data_received_1)
meter_data_df_1.to_csv('/home/guest/data/meter_data_1.csv')
meter_data_df_1.head()

,sync_bit,preamble,ert_id_ms_bits,reserved,physical_tamper,ert_type,encoder_tamper,consumption_data,ert_id_ls_bits,checksum
0,1,0xF2A60,47,,,electric,,149,023948576274839201938475,47498238489494848
1,1,0xF2A60,92,,,electric,,3410,100000000000000000000073,47498238489494848
2,1,0xF2A60,28,,,electric,,1787,100000000000000000000054,47498238489494848
3,1,0xF2A60,42,,,electric,,2567,100000000000000000000063,47498238489494848
4,1,0xF2A60,80,,,electric,,2846,100000000000000000000060,47498238489494848

In [14]:
meter_data_received_2=[
    [1,'0xF2A60','47','','','electric','',2087,'023948576274839201938475','47498238489494848']
]

for x in range(1000):
    meter_data_received_2.append(
        [1,'0xF2A60',str(random.randint(10,100)),'',''
         ,'electric','',str(random.randint(50,4000))
         ,str(random.randint(100000000000000000000000,100000000000000000000100))
         ,'47498238489494848']
    )
    
meter_data_df_2 = pd.DataFrame(columns = meter_col_names,data=meter_data_received_2)
meter_data_df_2.to_csv('/home/guest/data/meter_data_2.csv')
meter_data_df_2.head()

,sync_bit,preamble,ert_id_ms_bits,reserved,physical_tamper,ert_type,encoder_tamper,consumption_data,ert_id_ls_bits,checksum
0,1,0xF2A60,47,,,electric,,2087,023948576274839201938475,47498238489494848
1,1,0xF2A60,81,,,electric,,2858,100000000000000000000055,47498238489494848
2,1,0xF2A60,72,,,electric,,1469,100000000000000000000036,47498238489494848
3,1,0xF2A60,18,,,electric,,3945,100000000000000000000000,47498238489494848
4,1,0xF2A60,69,,,electric,,3740,100000000000000000000088,47498238489494848

In [15]:
meter_data_received_3=[
    [1,'0xF2A60','47','','','electric','',487,'023948576274839201938475','47498238489494848']
]

for x in range(1000):
    meter_data_received_3.append(
        [1,'0xF2A60',str(random.randint(10,100)),'',''
         ,'electric','',str(random.randint(50,4000))
         ,str(random.randint(100000000000000000000000,100000000000000000000100))
         ,'47498238489494848']
    )

meter_data_df_3 = pd.DataFrame(columns = meter_col_names,data=meter_data_received_3)
meter_data_df_3.to_csv('/home/guest/data/meter_data_4.csv')
meter_data_df_3.head()

,sync_bit,preamble,ert_id_ms_bits,reserved,physical_tamper,ert_type,encoder_tamper,consumption_data,ert_id_ls_bits,checksum
0,1,0xF2A60,47,,,electric,,487,023948576274839201938475,47498238489494848
1,1,0xF2A60,79,,,electric,,3594,100000000000000000000050,47498238489494848
2,1,0xF2A60,91,,,electric,,51,100000000000000000000076,47498238489494848
3,1,0xF2A60,76,,,electric,,1933,100000000000000000000059,47498238489494848
4,1,0xF2A60,92,,,electric,,3839,100000000000000000000025,47498238489494848

In [16]:
meter_data_received_4=[
    [1,'0xF2A60','47','','','electric','',378,'023948576274839201938475','47498238489494848']
]

for x in range(1000):
    meter_data_received_4.append(
        [1,'0xF2A60',str(random.randint(10,100)),'',''
         ,'electric','',str(random.randint(50,4000))
         ,str(random.randint(100000000000000000000000,100000000000000000000100))
         ,'47498238489494848']
    )

meter_data_df_4 = pd.DataFrame(columns = meter_col_names,data=meter_data_received_4)
meter_data_df_4.to_csv('/home/guest/data/meter_data_5.csv')
meter_data_df_3.head()

,sync_bit,preamble,ert_id_ms_bits,reserved,physical_tamper,ert_type,encoder_tamper,consumption_data,ert_id_ls_bits,checksum
0,1,0xF2A60,47,,,electric,,487,023948576274839201938475,47498238489494848
1,1,0xF2A60,79,,,electric,,3594,100000000000000000000050,47498238489494848
2,1,0xF2A60,91,,,electric,,51,100000000000000000000076,47498238489494848
3,1,0xF2A60,76,,,electric,,1933,100000000000000000000059,47498238489494848
4,1,0xF2A60,92,,,electric,,3839,100000000000000000000025,47498238489494848

In [20]:
customer_col_names =  ['ert_id', 'name','st_address']

cusomter_data_received=[
    ['47023948576274839201938475','John Davis','6987 Ohio Drive Allen TX 75038']
]
for x in range(1000):
    fake = Faker()
    cusomter_data_received.append(
        [str(random.randint(10,100))+str(random.randint(100000000000000000000000,100000000000000000000100))
         ,Faker().name(),Faker().address()]
    )
customer_data_df = pd.DataFrame(columns = customer_col_names,data=cusomter_data_received)
customer_data_df.to_csv('/home/guest/data/customer_data.csv')
customer_data_df.head()

,ert_id,name,st_address
0,47023948576274839201938475,John Davis,6987 Ohio Drive Allen TX 75038
1,75100000000000000000000005,Christina Keller,"8985 Clinton Street\nEast Belinda, CO 11314"
2,96100000000000000000000091,Nathan Morris,"733 Julia Points Suite 946\nLake Luis, UT 57060"
3,99100000000000000000000000,Sarah Allen,"903 Clinton Alley\nWest Shawn, IN 30099"
4,57100000000000000000000092,Elizabeth Li,41907 Emma Expressway Apt. 938\nPort Davidboro...