In [1]:
import time
import datetime
from pyspark.sql.functions import lit,unix_timestamp,col,concat

In [2]:
interval_1_df = spark.read.option("header", True).option("inferSchema", True).csv('file:///home/guest/data/meter_data_1.csv')

In [3]:
timestamp = datetime.datetime.fromtimestamp(time.time()).strftime('%Y-%m-%d %H:%M:%S')
ts_df = interval_1_df.withColumn('received_ts',unix_timestamp(lit(timestamp),'yyyy-MM-dd HH:mm:ss').cast("timestamp"))
ert_combined_id_df = ts_df.withColumn('ert_id',concat(col('ert_id_ms_bits'),col('ert_id_ls_bits')))
sequence_id_df = ert_combined_id_df.withColumn('meter_data_id',col('_c0')).drop('_c0')
sequence_id_df.printSchema()

root
 |-- sync_bit: integer (nullable = true)
 |-- preamble: string (nullable = true)
 |-- ert_id_ms_bits: integer (nullable = true)
 |-- reserved: string (nullable = true)
 |-- physical_tamper: string (nullable = true)
 |-- ert_type: string (nullable = true)
 |-- encoder_tamper: string (nullable = true)
 |-- consumption_data: integer (nullable = true)
 |-- ert_id_ls_bits: decimal(24,0) (nullable = true)
 |-- checksum: long (nullable = true)
 |-- received_ts: timestamp (nullable = true)
 |-- ert_id: string (nullable = true)
 |-- meter_data_id: integer (nullable = true)

In [4]:
sequence_id_df.write.format("org.apache.spark.sql.cassandra").mode('append')\
.options(table="meter_data", keyspace="tangez_demo").save()

In [33]:
sqlContext=SQLContext(spark.sparkContext)
stage_df = sqlContext.read.format("org.apache.spark.sql.cassandra").options(table="meter_data", keyspace="tangez_demo").load()
stage_df.show()

+-------------+-----------------+----------------+--------------+--------------------+--------------------+--------------+--------+---------------+--------+--------------------+--------+--------+
|meter_data_id|         checksum|consumption_data|encoder_tamper|              ert_id|      ert_id_ls_bits|ert_id_ms_bits|ert_type|physical_tamper|preamble|         received_ts|reserved|sync_bit|
+-------------+-----------------+----------------+--------------+--------------------+--------------------+--------------+--------+---------------+--------+--------------------+--------+--------+
|          745|47498238489494848|            3392|          null|28100000000000000...|10000000000000000...|            28|electric|           null| 0xF2A60|2018-12-27 01:02:...|    null|       1|
|          863|47498238489494848|            3055|          null|19100000000000000...|10000000000000000...|            19|electric|           null| 0xF2A60|2018-12-27 01:02:...|    null|       1|
|          885|47498238489494848|             116|          null|91100000000000000...|10000000000000000...|            91|electric|           null| 0xF2A60|2018-12-27 01:02:...|    null|       1|
|          662|47498238489494848|            3885|          null|72100000000000000...|10000000000000000...|            72|electric|           null| 0xF2A60|2018-12-27 01:02:...|    null|       1|
|          617|47498238489494848|            2343|          null|32100000000000000...|10000000000000000...|            32|electric|           null| 0xF2A60|2018-12-27 01:02:...|    null|       1|
|          702|47498238489494848|            3282|          null|43100000000000000...|10000000000000000...|            43|electric|           null| 0xF2A60|2018-12-27 01:02:...|    null|       1|
|           58|47498238489494848|            1843|          null|25100000000000000...|10000000000000000...|            25|electric|           null| 0xF2A60|2018-12-27 01:02:...|    null|       1|
|          803|47498238489494848|            1488|          null|24100000000000000...|10000000000000000...|            24|electric|           null| 0xF2A60|2018-12-27 01:02:...|    null|       1|
|          594|47498238489494848|            2413|          null|99100000000000000...|10000000000000000...|            99|electric|           null| 0xF2A60|2018-12-27 01:02:...|    null|       1|
|          603|47498238489494848|            1599|          null|10010000000000000...|10000000000000000...|           100|electric|           null| 0xF2A60|2018-12-27 01:02:...|    null|       1|
|          866|47498238489494848|             980|          null|55100000000000000...|10000000000000000...|            55|electric|           null| 0xF2A60|2018-12-27 01:02:...|    null|       1|
|          155|47498238489494848|            1189|          null|72100000000000000...|10000000000000000...|            72|electric|           null| 0xF2A60|2018-12-27 01:02:...|    null|       1|
|           32|47498238489494848|            2297|          null|72100000000000000...|10000000000000000...|            72|electric|           null| 0xF2A60|2018-12-27 01:02:...|    null|       1|
|          159|47498238489494848|             177|          null|79100000000000000...|10000000000000000...|            79|electric|           null| 0xF2A60|2018-12-27 01:02:...|    null|       1|
|          103|47498238489494848|            2520|          null|64100000000000000...|10000000000000000...|            64|electric|           null| 0xF2A60|2018-12-27 01:02:...|    null|       1|
|          818|47498238489494848|            2299|          null|51100000000000000...|10000000000000000...|            51|electric|           null| 0xF2A60|2018-12-27 01:02:...|    null|       1|
|          508|47498238489494848|            1849|          null|42100000000000000...|10000000000000000...|            42|electric|           null| 0xF2A60|2018-12-27 01:02:...|    null|       1|
|           40|47498238489494848|            2055|          null|46100000000000000...|10000000000000000...|            46|electric|           null| 0xF2A60|2018-12-27 01:02:...|    null|       1|
|          949|47498238489494848|            1320|          null|51100000000000000...|10000000000000000...|            51|electric|           null| 0xF2A60|2018-12-27 01:02:...|    null|       1|
|          521|47498238489494848|            2620|          null|41100000000000000...|10000000000000000...|            41|electric|           null| 0xF2A60|2018-12-27 01:02:...|    null|       1|
+-------------+-----------------+----------------+--------------+--------------------+--------------------+--------------+--------+---------------+--------+--------------------+--------+--------+
only showing top 20 rows

In [31]:
customer_data = spark.read.option("header", True).option("inferSchema", True).csv('file:///home/guest/data/customer_data.csv')
cleaned_customer_data = customer_data.drop('_c0').withColumnRenamed('st_address','address')

cleaned_customer_data = cleaned_customer_data.where("ert_id is not null")

cleaned_customer_data.write.format("org.apache.spark.sql.cassandra").mode('append')\
.options(table="customer_data", keyspace="tangez_demo").save()

In [32]:
customer_data_from_db = stage_df = sqlContext.read.format("org.apache.spark.sql.cassandra").options(table="customer_data", keyspace="tangez_demo").load()
customer_data_from_db.count()

2678

In [36]:
joined_df = stage_df.join(customer_data_from_db,stage_df.ert_id==customer_data_from_db.ert_id)
joined_df.printSchema()
joined_df.count()

root
 |-- meter_data_id: string (nullable = true)
 |-- checksum: string (nullable = true)
 |-- consumption_data: integer (nullable = true)
 |-- encoder_tamper: string (nullable = true)
 |-- ert_id: string (nullable = true)
 |-- ert_id_ls_bits: string (nullable = true)
 |-- ert_id_ms_bits: string (nullable = true)
 |-- ert_type: string (nullable = true)
 |-- physical_tamper: string (nullable = true)
 |-- preamble: string (nullable = true)
 |-- received_ts: timestamp (nullable = true)
 |-- reserved: string (nullable = true)
 |-- sync_bit: integer (nullable = true)
 |-- ert_id: string (nullable = true)
 |-- address: string (nullable = true)
 |-- name: string (nullable = true)

202